@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 41,41,41;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --secondary-foreground:136,136,136;
  --card: 0 0% 100%;
  --accent:#3cff8d;
  --card-foreground: 222.2 47.4% 11.2%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}
